<!-- ================= HEADER ================= -->
<header class="main-header">
  <nav class="nav-container">

    <!-- Left Side Logo / App Name -->
    <h2 class="logo">Health Tracker</h2>

    <!-- Navigation Links -->
    <div class="nav-links">
      <a href="/home" data-link class="nav-link">Home</a>
      <a href="/users" data-link class="nav-link">Users</a>
      <a href="/activities" data-link class="nav-link">Activity</a>
      <a href="/medical" data-link class="nav-link">Medical</a>
    </div>

  </nav>
</header>
